.weather-details { 
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(53, 53, 53, 0.18);  
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .weather-details p {
    margin: 5px 0;
    color: #272727;
  }